<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Join Room Janus</h5>
                        <form class="form-signin" (submit)="joinRoomJanus()">
                            <div class="form-group">
                                <label for="inputEmail">Username</label>
                                <input id="inputEmail" class="form-control" placeholder="username"
                                    [(ngModel)]="join.username" name="username" required autofocus>
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label for="inputPassword">Janus token</label>
                                <input type="" id="inputPassword" class="form-control" placeholder="Janus token"
                                    required [(ngModel)]="join.token" name="token">
                            </div>
                            <button class="btn btn-sm btn-primary btn-block text-uppercase mt-2" type="submit">Sign
                                in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>